  .blog-masthead {
      background-color: #428bca;
      -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
      box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  }

  .container { /*   꼭 있어야 하나...?   */
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }

  .blog-description {
    font-size: 20px;
    color: #999;
  }

  .blog-nav .active {
    color: #fff;
  }

  .blog-nav-item {
      position: relative;
      display: inline-block;
      padding: 10px;
      font-weight: 500;
      color: #cdddeb;
  }

  .blog-main {
    font-size: 18px;
    line-height: 1.5;
  }

  .blog-header {
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .blog-post {
    margin-bottom: 60px;
  }

  .blog-title {
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 60px;
      font-weight: normal;
  }

  .lead {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.4;
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
  }

  .blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
  }

  ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
  }

  p {
    margin: 0 0 10px;
  }

  a {
    color: #337ab7;
    text-decoration: none;
  }

  a {
    background-color: transparent;
  }
